li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.items {
  display: flex;
  gap: 10px;
  justify-content: center;
}

body {
  background-color: #ff9109;
}

.sub-menu {
  display: flex;
  background-color: #ff6709;
  justify-content: space-between;
  flex-direction: row;
}

.new-button__mod {
  background-color: #457b9d;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

summary {
  display: block;
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  background-color: #457b9d;
  height: 20vh;
  color: #212529;
}
.header h1 {
  font-size: larger;
}
.header__nav {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.header__nav-bold {
  font-weight: bolder;
}
.header__nav {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.header__nav-bold {
  font-weight: bolder;
}

a {
  color: #212529;
  text-decoration: none;
  font-weight: lighter;
}

a {
  color: #212529;
  text-decoration: none;
  font-weight: lighter;
}
