/* se pueden poner variables usando el $ como en PHP  tambien puede usarse mixin con parametros*/
body {
  color: bisque;
  background-color: blueviolet;
}
body div {
  color: bisque;
  background-color: blueviolet;
}
